<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport"
    content="width=device-width, minimum-scale=1.0, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>mobile-kit</title>
  <link rel="stylesheet" href="https://at.alicdn.com/t/font_2219754_dinqm6ny39b.css">
  <link rel="stylesheet" href="https://skcb2bec.blob.core.chinacloudapi.cn/page/%E6%AC%A7%E8%8E%B1%E9%9B%85%E9%9D%99%E6%80%81/normalize.8.0.1.css?sv=2019-12-12&st=2021-04-06T04%3A04%3A21Z&se=2099-04-07T04%3A04%3A00Z&sr=b&sp=r&sig=3X9X7LmD5d9pZRwGAW89bfOExbB3iZuU9myF7IfKEI4%3D">
  <script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
  <script src="https://skcb2bec.blob.core.chinacloudapi.cn/page/%E6%AC%A7%E8%8E%B1%E9%9B%85%E9%9D%99%E6%80%81/react.min.js?sv=2019-12-12&st=2021-04-06T04%3A02%3A16Z&se=2099-04-07T04%3A02%3A00Z&sr=b&sp=r&sig=GWrRk8d0cyvZYndSNnk83PVYsKJY611cKycpw4Oc5KI%3D"></script>
  <script src="https://skcb2bec.blob.core.chinacloudapi.cn/page/%E6%AC%A7%E8%8E%B1%E9%9B%85%E9%9D%99%E6%80%81/react-dom.min.js?sv=2019-12-12&st=2021-04-06T04%3A03%3A48Z&se=2099-04-07T04%3A03%3A00Z&sr=b&sp=r&sig=EeqWUAylc7eRH0hFxNgp5jzgM0cMk%2FBZy4tErR%2BAx88%3D"></script>
  <script src="https://skcb2bec.blob.core.chinacloudapi.cn/page/%E6%AC%A7%E8%8E%B1%E9%9B%85%E9%9D%99%E6%80%81/moment.min.js?sv=2020-08-04&st=2021-09-29T07%3A49%3A55Z&se=2040-10-30T07%3A49%3A00Z&sr=b&sp=r&sig=Y6toy3wPO5%2BCPP3jirtpnM%2BaAKytg4sLAG0AkUeojFA%3D"></script>
</head>

<body>
  <div id="root"></div>
</body>

</html>