* {
  margin: 0;
  padding: 0;
}

html{
  // font-size: 100px !important;
  overscroll-behavior: none;
  font-family: 'PingFang SC';
  font-weight: normal;
  font-style: normal;
}

body{
  background-color: #fff;
  height: 100%;
  width: 100%;
  overscroll-behavior: none;
  font-family: 'PingFang SC';
  font-weight: normal;
  font-style: normal;
}

ul li {
  // list-style: none;
  font-size: 0.05rem;
  color: rgba(0, 0, 0, 0.5);
}

a{
  // text-decoration: none;
  color: #1f1f1f;
}

input{
  border: 0px;
  background-color: transparent;
  outline: none;
}

input:focus{
  outline: none;
}

button{
  color: #3d3d3d;
  border: none;
  background-color: transparent;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  outline:none;
}

button:focus {outline:none;} /*IE、Chrome*/
button::-moz-focus_inner {border-color:transparent;}

